examples/sample.json
[
  {
    "id": "24ea1513.9ca71a",
    "type": "inject",
    "z": "3ecb0d67.f0e6b2",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 100,
    "wires": [
      [
        "a9210a36.5ca928"
      ]
    ]
  },
  {
    "id": "a9210a36.5ca928",
    "type": "pdfparse",
    "z": "3ecb0d67.f0e6b2",
    "name": "",
    "path": "C:\\Users\\user\\Downloads\\20200929-EB-5_Event_Streaming_Use_Cases_That_Transform_Business.pdf",
    "x": 290,
    "y": 100,
    "wires": [
      [
        "393c0a75.e2b926"
      ]
    ]
  },
  {
    "id": "393c0a75.e2b926",
    "type": "debug",
    "z": "3ecb0d67.f0e6b2",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 470,
    "y": 100,
    "wires": []
  }
]
